.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0px;
  display: block;
  overflow: hidden;
  background: #181818;
  height: auto;
}
.colapsable-remuneracion .collapsible{
	background: #181818;
    margin-top: 15px;
    border: solid 1px #CCB874;
    color: #CCB874;
    padding: 0.4rem .6rem;
    font-size: 1.125em;
    font-weight: 600;
}
.collapsible:focus{
	outline: none;
}
.img-colap{
	padding-top: 0.3rem;
    width: 20px;
    display: block;
    float: right;
}

.active .img-colap{
-moz-transform:rotate(180deg);
   -webkit-transform:rotate(180deg);
   transform:rotate(180deg);
}
