@charset "UTF-8";

#form-vacations input{
	background: black;
    border-color: #ccb874;
}

#form-vacations .input-group-text{
	background-position: center;
    background-color: transparent;
    border: none;
    height: 1.95rem;
    background-repeat: no-repeat;
}
#form-vacations a{
	color: #ccb874;
	text-decoration: none;
}

#form-vacations button{
    display: block;
    float: right;
    width: 50%;
    background: #cbb874;
    border: none;
    color: black;
}
