.table-vacaciones{
	width: 100%;
    margin-top: 15px;
    margin:auto;
    border-collapse: collapse;
}
.table-vacaciones2{
	width: 100%;
    margin-top: 15px;
    margin:auto;
    border-collapse: collapse;
}

.tablehead-remuneracion, th{
	
	text-align: center;
    font-weight: 800;
    padding-top: .8rem;
    padding-bottom: .8rem;
    width: 300px;
}
.tablehead-remuneracion, .ulti:nth-last-of-type(1){
	border-top: solid 1px #838383;
	border-collapse: collapse;
}
.tablehead-remuneracion, td:nth-last-child(-n+4){
	text-align: center;
	padding: .5rem;
}

.ulti td[colspan="2"]{
	font-weight: 800;
	text-align: left;
}
.table-vacaciones tr:nth-last-of-type(){
	background: blue;
}

.table-vacaciones2 tbody tr td{
	padding-top: 1.3rem;
	padding-bottom: 1.3rem;
}
.table-vacaciones2 tbody tr td:nth-last-child(3){
	text-align: left;
}

.table-vacaciones2 th{
	border-bottom: solid 1px #838383;
	text-align: center;
    font-weight: 800;
    padding-top: 0rem;
    padding-bottom: .8rem;
    width: 300px;
}
